{% extends 'base.html' %}

{% block content %}


    <h1 class="center">Locations</h1>
    <div class="location_container">

        <a class="lbox1" href="{% url 'tray' %}"><div>
            DB City
        </div></a>

        <a class="lbox1" href="{% url 'tray' %}"><div>
            New Market
        </div></a>

        <a class="lbox1" href="{% url 'tray' %}"><div>
            LNCT 
        </div></a>

        <a class="lbox1" href="{% url 'tray' %}"><div>
            Ashima Mall
        </div></a>
    </div>

</body>
</html>
{% endblock content %}